.react-datepicker {
  position: fixed;
  top: 144px;
  left: 430px;
  width: 680px;
  height: 380px;
  border: transparent;
  border-radius: 15px;
}

.react-datepicker__input-container > input {
  position: fixed;
  text-align: center;
  color: transparent;
  font-size: 13px;
  left: 610px;
  top: 81px;
  width: 256px;
  height: 57px;
  border: transparent;
  border-radius: 35px;
  background-color: transparent;
}
.react-datepicker__input-container > input:focus {
  border: 1px solid #ededed;
}

.react-datepicker__header {
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: transparent;
}
.react-datepicker__month {
  margin-left: 20px;
  margin-top: 10px;
  width: 300px;
  height: 200px;
}
.react-datepicker__day-names {
  margin-top: 30px;
}

.react-datepicker__day-name {
  margin: 6px;
  font-size: 15px;
}
.react-datepicker__day {
  margin: 6px;
  font-size: 15px;
  font-weight: bold;
}

.react-datepicker__close-icon::after {
  position: fixed;
  left: 840px;
  top: 110px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  background-color: #a3a2a2;
}
